<fieldset>
  <section>
    <%= f.input :pro_name,:class=>"input"%>
    <%= error_span(@knowledge[:pro_name]) %>
  </section>
  <section>
    <label class="textarea">
      <%= f.input :skill_of_harvest,:rows=>"3" %>
      <%= error_span(@knowledge[:skill_of_harvest]) %>
    </label>
  </section>
  <section>
    <label class="textarea">
      <%= f.input :lift_of_harvest %>
      <%= error_span(@knowledge[:lift_of_harvest]) %>
    </label>
  </section>
  <section>
    <label class="textarea">
      <%= f.input :study_plan %>
      <%= error_span(@knowledge[:study_plan]) %>
    </label>
  </section>
  <section>
    <label class="textarea">
      <%= f.input :hope_plan %>
      <%= error_span(@knowledge[:hope_plan]) %>
    </label>
  </section>
</fieldset>
<footer>
  <%= f.button :submit, :class => 'btn-u btn-u-default'%>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                knowledges_path, :class => 'button btn-u btn-u-default' %>
</footer>
