<%- model_class = Knowledge -%>
<div class="tab-v1 margin-bottom-60">
  <div class="tab-content">
    <!-- Icons and Placeholders -->
    <div class="tab-pane fade in active" id="home-1">
      <%= simple_form_for @knowledge, :html => { :class => 'form-horizontal sky-form' } do |f| %>
        <header><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></header>
        <%= render :partial => 'form',:locals=>{:f=>f} %>
      <%end%>
    </div>
    <!-- End Icons and Placeholders -->
  </div>
</div>
