<%- model_class = Knowledge -%>
<div class="col-md-12">
  <!--Basic Table-->
  <div class="panel panel-green margin-bottom-40">
    <div class="panel-heading" style="position:relative">
      <h3 class="panel-title"><i class="fa fa-tasks"></i> <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_knowledge_path,
            :class => 'btn btn-default',:style=>"position:absolute;top:1px;right:10px;color:#000" %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:pro_name) %></th>
          <th><%= model_class.human_attribute_name(:user_id) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @knowledges.each do |knowledge| %>
          <tr>
            <td><%= link_to knowledge.pro_name, knowledge_path(knowledge) %></td>
            <td><%= knowledge.get_user_name %></td>
            <td><%=l knowledge.created_at %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_knowledge_path(knowledge), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                      knowledge_path(knowledge), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      knowledge_path(knowledge),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <!--End Basic Table-->
</div>
