<%- model_class = Knowledge -%>
<div class="tab-v3 sky-form">
  <div class="page-header tab-content">
    <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
    <hr style="margin:10px">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:pro_name) %>:</strong></dt>
      <dd><%= @knowledge.pro_name %></dd>
      <br/>
      <dt><strong><%= model_class.human_attribute_name(:skill_of_harvest) %>:</strong></dt>
      <dd><%= @knowledge.skill_of_harvest %></dd>
      <br/>
      <dt><strong><%= model_class.human_attribute_name(:lift_of_harvest) %>:</strong></dt>
      <dd><%= @knowledge.lift_of_harvest %></dd>
      <br/>
      <dt><strong><%= model_class.human_attribute_name(:study_plan) %>:</strong></dt>
      <dd><%= @knowledge.study_plan %></dd>
      <br/>
      <dt><strong><%= model_class.human_attribute_name(:hope_plan) %>:</strong></dt>
      <dd><%= @knowledge.hope_plan %></dd>
      <br/>
      <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
      <dd><%= @knowledge.get_user_name %></dd>
    </dl>
    <footer style="padding:10px">
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              knowledge_path(@knowledge),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => ' btn btn-danger button',:style=>"background-color: #d9534f;" %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_knowledge_path(@knowledge), :class => 'button btn-u btn-u-default' %>
      <%= link_to t('.back', :default => t("helpers.links.back")),
              knowledges_path, :class => 'button btn-u btn-u-default'  %>
    </footer>
  </div>
</div>
