// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.self_badge {
  display: block;
  width: 60px;
  height: 60px;
  margin: 5px auto 5px;
  text-align: center;
  background-color: transparent;
  border-color: transparent;
   background-image: url(/assets/icon-new-project.png);
  background-repeat: no-repeat;
  background-size: 43px auto;
  background-position: center bottom;

}

.bs-glyphicons{margin:0 -10px 20px;overflow:hidden}
.bs-glyphicons-list{padding-left:0;list-style:none}
.bs-glyphicons li{float:left;width:195px;height:175px;padding:20px;font-size:10px;line-height:1.4;text-align:center;background-color:#eee;border:1px solid #fff;margin-left:20px;margin-top:10px;}
.bs-glyphicons .glyphicon{margin-top:5px;margin-bottom:10px;font-size:24px}
.bs-glyphicons .glyphicon-class{display:block;text-align:center;word-wrap:break-word}
.bs-glyphicons li:hover{color:#fff;background-color:#563d7c}

